/*Declarando variáveis no css*/
:root{
    --vermelho: #E50914;
    --preta: #141414;
}

/*resetando o css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* adequam os itens de dentro das caixas ao tamanho dela*/
    color: white;

}

/*Elementos base*/
body{
    background: var(--preta);
    font-family: 'Times New Roman', Times, Serif;
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;/*alinha de maneira vertical*/
    justify-content: space-between; /* alinha horizontalmente os elementos da caixa*/
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*Filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/resources/capa-house.jpg');

    height: 800px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao{
    margin-bottom: 40px;
}

.titulo{
    font-size: 40px;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;
}